{% extends "board/base.html" %}
{% load static %}

{% block content %}
<style>
    html, body {
        background-image: url("{% static settings.BG_IMAGE_INDEX %}");
    }
</style>

<div class="hero">
    <h1 class="site-name">{{settings.SITE_NAME}}</h1>

    <p>
        <i class="site-title">{{settings.SITE_TITLE}}</i>
    </p>

{% for acct in settings.FEATURED_ACCOUNTS.split %}
    <p>
        <a href="{% url 'account-timeline' acct %}">@{{acct}}</a> 
    </p>
{% endfor %}
{% for tag in settings.FEATURED_TAGS.split %}
    <p>
        <a href="{% url 'hashtag-timeline' tag %}" class="hashtag-title">#{{tag}}</a> 
    </p>
{% endfor %}
</div>

<hr>

{% endblock %}